* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  padding: 30px;
  background-color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: auto 80px;
}

.logo {
  font-family: "Courgette", cursive;
  color: #f26fcf;
}

.pesquisa {
  display: flex;
  justify-content: center;
}

.search {
  margin: 0 6px;
}

.cart {
  margin: 0 12px;
}
