.titulo {
    display: flex;
    color: #e91e63;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
    font-weight: 900;
}

.titulo2 {
    display: flex;
    text-align: center;
    justify-content: center;
}


.p_ocasioes_intro {
    display: flex;
    text-align: justify;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
}

.content_titulos_ocasioes {
    display: flex;
    text-align: center;
    justify-content: center;
}

.content_titulos_ocasioes p {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 300px;
    margin-left: 200px;
    font-size: 22px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.div_casamentos_ocasioes {
    display: flex;
    height: 550px;
    width: 350px;
    background-color: rgb(255, 222, 222);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div_aniversarios_ocasioes {
    display: flex;
    height: 550px;
    width: 350px;
    background-color: rgb(255, 222, 222);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div_casamentos_ocasioes p {
    font-size: 15px;
    width: 260px;
}

.div_aniversarios_ocasioes p {
    font-size: 15px;
    width: 260px;
}

