* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
 }

body {
  padding-bottom: 10;
  margin: 0;
}

 /* css para contato linha 3 até 62 */
/* CONTATO */
.formulario{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  }

  #form-contato {
    background-color: #F29EAC; /*Cor de fundo do formulário*/
  }
  
  form {
    padding: 30px 30px 30px 30px;
  }
  /*Padronização dos campos Nome, Telefone, E-mail e Mensagem*/
  .campos {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    color: white;

  }
  
  /*Padronização dos campos Nome, Telefone, E-mail e Mensagem*/
  .campo_inside {
    padding: 20px;
    width: 700px;
    border: 2px  solid;
  }

  /*Configuração da posição do botão enviar*/
  .botao {
    display: flex;
    float: right;
  }

  /* Configuração do botão de enviar*/
  .botao_contato{
    background: #000000; /*Cor interna do botão*/
    border-color: #000000; /*Linha externa do botão enviar*/
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    color: white;
  }

  /*Configuração do titulo (Contato) que irá aparecer na página*/
  .titulo{
    display: flex;
    color: #e91e63;
    text-align: center;
    justify-content: center;
    margin-top: 120px;
    font-family: 'Cormorant', serif;
    font-weight: 900;
  }

  .span-required{
    margin: 0;
    font-size: 12px;
    color:rgba(216, 22, 22, 0.945);
    display: none;
    text-align: left;
}
 
/*Código Css para Ocasiões linha 73 até 129*/
.p_ocasioes_intro {
  display: flex;
  text-align: justify;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
}

.content_titulos_ocasioes {
  display: flex;
  text-align: center;
  justify-content: center;
}

.content_titulos_ocasioes p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 300px;
  margin-left: 200px;
  font-size: 22px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div_casamentos_ocasioes {
  display: flex;
  height: 550px;
  width: 350px;
  background-color: rgb(255, 222, 222);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.div_aniversarios_ocasioes {
  display: flex;
  height: 550px;
  width: 350px;
  background-color: rgb(255, 222, 222);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.div_casamentos_ocasioes p {
  font-size: 15px;
  width: 260px;
}

.div_aniversarios_ocasioes p {
  font-size: 15px;
  width: 260px;
}

/*Cupcakes*/
.section-cupcakes {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto 150px 38.8px;
  flex-wrap: wrap;
}

.article-cupcakes {
  display: flex;
  height: 380px;
  width: 250px;
  background-color: rgb(255, 222, 222);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.article-cupcakes:hover {
  cursor: pointer;
  transform: scale(1.09); 
  box-shadow: 0 10px 10px rgba(0,0,0,0.35);
  transition: box-shadow 0.2s ease-in-out;
}

.article-cupcakes p {
  font-size: 18px;
  margin: 8px;
}

.section-cupcakes a {
  color: inherit;
  text-decoration: none;
}

.categoria-cupcakes {
  font-weight: 400;
  margin-left: 120px;
  color: #fff;
}

.estilo-categoria-cupcakes {
  background-image: linear-gradient(to right, rgb(220, 41, 251) , rgb(255, 92, 174));
  width: 1280px;
  height: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

.p-cupcakes {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  width: 1200px;
  margin-left: 150px;
}

/*Detalhes do produto*/

.modal-container hr {
  width: 50vw;
  margin: 0;
}

.modal-container {
  width: 100vw;
  display: flex;
  z-index: 5;
  justify-content: center;
  margin-bottom: 375px;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(255, 245, 203);
  border-radius: 8px;
  margin-top: 120px;
  width: 50%;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

span {
  margin: 10px auto;
}

.orgs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin: 0 80px;
}

.orgs p {
  font-size: larger;
}

.adcCupcake {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(252, 194, 223);
  cursor: pointer;
  border: none;
}

 @media (max-width: 500px) {
  .modal {
    padding: 10px;
    width: 80%;
  }   

  span, .orgs button {
    font-size: smaller;
  }
 }

 /*Carrinho*/

.lista-carrinho {
  display: flex;
  justify-content: center;
 }

 .lista-carrinho ul li {
  font-size: 20px;
  padding: 12px;
  margin-top: 25px;
 }

 .titulo-cupcake-carrinho {
  font-size: 25px;
 }

 .lista-carrinho button {
  display: flex;
  align-self: flex-end;
  background-color: rgb(246, 182, 254);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
 }

 .hr-carrinho {
  width: 400px;
  justify-self: center;
  margin-bottom: 20px;
 }

 .excluirProduto{
  float: right;
 }

 .botoes-carrinho {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 213px;
 }

 .total-preco {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 23px;
 }

 .botoes-carrinho button {
  margin: 0 20px;
  padding: 7px;
  background-color: rgb(246, 182, 254);
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }

.center-responsive {
  display: flex;
  justify-content: center;
}

 /* Index */
.center{
 display: flex;
 justify-content: center;
}

.box-text {
  display: flex;
  align-items: center; /*centraliza horizontalmente */
  justify-content: center; /*cetraliza verticalmente */
  width: 800px;
  height: 100px;
  background: #FFD6F5;
  color: rgb(0, 0, 0);
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 120px;
}

.flex-container-index {
  display: flex;
  flex-flow: column wrap;
  justify-content: normal;
  margin-left: 25px;
}

.flex-item-title {
  width: 700px;
  padding: 5px;
  height: 170px;
  margin-top: 20px;
  line-height: 150px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}
.flex-item-text {
  width: 700px;
  padding: 5px;
  height: 450px;
  margin-top: 20px;
  line-height: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.flex-item-image-title {
  width: 720px;
  background: #FFD6F5;
  height: 170px;
  margin-top: 20px;
  line-height: 150px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}

.flex-item-image {
  width: 700px;
  height: 450px;
  margin-top: 14px;
  text-align: center;
}

.flex-item-image-2 {
  width: 700px;
  height: 535px;
  margin-top: 14px;
  text-align: center;
}

.flex-item-image-title-2 {
  width: 50%;
  background: #FFD6F5;
  height: 100px;
  margin-top: 25px;
  line-height: 150px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 32px;
  align-items: center; /*centraliza horizontalmente */
}

.flex-item-title-2 {
  width: 700px;
  height: 50px;
  align-items: center; 
  line-height: 150px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-size: 32px;
}

.flex-item-text-2 {
  width: 700px;
  padding: 5px;
  height: 450px;
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 36px;
}

.secondary-title{
  color: #E91E63;
  font-size: 32px;
  font-weight: 300;
  margin: 25px 25px;
}

.small-box {
  display: inline;
  align-items: center; /*centraliza horizontalmente */
  justify-content: center; /*cetraliza verticalmente */
  padding: 5px 15px 5px 15px;
  background: #FFD6F5;
  color: rgb(0, 0, 0);
  font-family: 'Cormorant', serif;
  font-weight: 400;
  list-style: none;
}


/*Confirmar pedido*/

.p-confirmar {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-top: 70px;
  font-size: 18px;
}

.form-confirmacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 142px;
}

.campo-confirmar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;
}

.campo-confirmar label {
  margin-bottom: 5px;
}

.campo-confirmar input {
  width: 500px;
  height: 23px;
  border-radius: 5px;
}

.form-confirmacao button {
  width: 70px;
  height: 30px;
  background-color: #f3b6c0;
  border: none;
  border-radius: 8px;
  margin: 10px;
}

/* CSS para faqs */
.titulo2-faqs {
  display: flex;
  text-align: justify;
  font-weight: 500;
  font-size: 18px;
  margin-left: 350px;
}

.titulo2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.p-pergunta-faqs {
  text-align: justify;
  font-weight: 500;
  font-size: 16px;
}

.p-resposta-faqs {
  text-align: justify;
  font-weight: 500;
  font-size: 16px;
  width: 63%;
}

article p {
  display: inline-block;
  margin-left: 200px;
}

.hr1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  width: 70%;
  height: 0.1px;
}

.object-fit-cover {
  object-fit: center;
}
img {
  width: 100%;
  height: 100%;
}

.hr2 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 150px;
  width: 80%;
  background-color: rgb(121, 121, 121);
  height: 0.4px;
}

/*Parte do CSS adicionada para o header e o menu de navegação por Ana Paula*/
ul li a {
  color: inherit;
}

.menu_topics {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_li {
  margin: 0 15px;
  font-family: muli;
  font-weight: 300;
  font-style: normal;
  color: #f26fcf;
  justify-content: center;
  align-items: center;
}

/* Header */
/*Parte do CSS adicionada para o header por Ana Paula*/
/*Adicionada cor ao header, organizados os elementos com margin, display e justify-content*/

header {
  padding: 30px;
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: auto 80px;
}

 /*Inicia o CSS para a logo e po campo de pesquisa por Ana Paula*/
.logo {
  font-family: "Courgette", cursive;
  color: #f26fcf;
}

.pesquisa {
  display: flex;
  justify-content: center;
}

.search {
  margin: 0 6px;
}
/*Termina o CSS*/

.cart {
  margin: 0 12px;
}

/* Footer */
footer {
  padding: 30px;
  background-color: #000;
  width: 100%;
  bottom:0;
  left:0;
  margin-top: 25px;
}

.menu_fo {
  list-style: none;
}

.menu_fo_icon {
  display: flex;
  margin: 0 15px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.menu_li_fo {
  display: flex;
  justify-content: center;
  margin: 10px 15px;
  font-family: muli;
  font-weight: 300;
  font-style: normal;
  color: #f26fcf;
}

.copy {
  color: #f26fcf;
  display: flex;
  justify-content: center;
}

/*Css Parceiros*/

/*Configuração do nome central parceiros -- Cauã*/
.titulo-parceiros {
  display: flex;
  color: #e91e63;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Cormorant';
  font-weight: 900;
}

.Textparceiros {
  
    display: flex;
    text-align: center;
    justify-content: center;
}

.titulo-parceiros2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.titulo-parceiros2 p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 300px;
  margin-left: 290px;
  font-size: 22px;
  color: #E91E63;
}

/*Css Sobre*/
.titulo-sobre {
  display: flex;
  color: #e91e63;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Cormorant';
  font-weight: 900;
}

.sobre-div {
  display: flex;
  justify-content: center;
  margin-bottom:20px;
  margin-top: 50px;
  margin-right: 25px;
  background-color: #E91E63;
  width:1516px;
  height: 500px;
}

.config-ul {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.li-titulo {
width:700px;
padding: 5px;
height:170px;
margin-top: 20px;
line-height: 150px;
color: black;
font-weight: bold;
text-align: center;
font-size: 32px;
}

.li-imagem {
  width:700px;
  height:450px;
  margin-top: 90px;
  text-align: center; 
  margin-left: 50px;      
}

.li-textos {
  width: 700px;
  padding: 5px;
  height: 450px;
  margin-top: 20px;
  line-height: 30px;
  text-align: justify;
  color: black;
  font-size: 22px;
}

@media (max-width: 421px) {
  .small-box {
    display: block;
    padding: 5px 15px 5px 15px;
  }
}

@media (max-width: 294px) {
  .secondary-title{
    color: #E91E63;
    font-size: 20px;
    font-weight: 300;
    margin: 25px 25px;
  }
}

/* CSS para telas entre 750 e 1500px - até a linha 873 é a parte da página index*/
/* Gustavo Soares */
@media (max-width: 1500px) {
  .flex-container-index {
    margin: 0 20px;
    padding: 0;
  }

  .control-margin {
    margin: 0 30px;
  }

  .center{
    display: block;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
   }

   .flex-item-title {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 70px;
  
  }
  .flex-item-image-title {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .flex-item-title-2 {
    height: 100%;
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 70px;
  }

  .flex-item-image {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
  }

  .flex-item-image-2 {
    width: 100%;
    height: 535px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .flex-item-text-2 {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 10px;
  }

  .flex-item-text {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0 0 30px 0;
  }
  
  .flex-item-image-title-2 {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .box-text {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
