/* css para contato linha 3 até 62 */


/* CONTATO */
.formulario{
  display: flex;
  justify-content: center;
  height: 75vh;  
  margin-top: 20px;
  }
  
  form {
    padding: 30px 30px 30px 30px;
    background-color: #F29EAC; /*Cor de fundo do formulário*/
  }
  /*Padronização dos campos Nome, Telefone, E-mail e Mensagem*/
  .campos {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    color: white;

  }
  
  /*Padronização dos campos Nome, Telefone, E-mail e Mensagem*/
  .campo_inside {
    padding: 20px;
    width: 700px;
    border: 2px  solid;
  }

  /*Configuração da posição do botão enviar*/
  .botao {
    display: flex;
    float: right;
  }

  /* Configuração do botão de enviar*/
  .botao_contato{
    background: #000000; /*Cor interna do botão*/
    border-color: #000000; /*Linha externa do botão enviar*/
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    color: white;
  }

  /*Configuração do titulo (Contato) que irá aparecer na página*/
  .titulo{
    display: flex;
    color: #e91e63;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
    font-weight: 900;
  }
 

/*Código Css para Ocasiões linha 61 até 129*/

.titulo {
    display: flex;
    color: #e91e63;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
    font-weight: 900;
}

.titulo2 {
    display: flex;
    text-align: center;
    justify-content: center;
}


.p_ocasioes_intro {
    display: flex;
    text-align: justify;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
}

.content_titulos_ocasioes {
    display: flex;
    text-align: center;
    justify-content: center;
}

.content_titulos_ocasioes p {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 300px;
    margin-left: 200px;
    font-size: 22px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.div_casamentos_ocasioes {
    display: flex;
    align-items: center;
    height: 450px;
    width: 350px;
    background-color: rgb(255, 222, 222);
}

.div_casamentos_ocasioes img {
    display: flex;
    align-self: center;
}

.div_casamentos_ocasioes p {
    display: flex;
    align-self: flex-end;
} 

.div_aniversarios_ocasioes {
    display: flex;
    height: 450px;
    width: 350px;
    background-color: rgb(255, 222, 222);
}


  
  

